process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SKA_INPUT {
        publishDir = [
            path: { "${params.outdir}/ska_fasts" },
            mode: params.publish_dir_mode,
            pattern: "*.skf"
        ]
    }

    withName: SKA_ALIGN {
        publishDir = [
            path: { "${params.outdir}/ska_align" },
            mode: params.publish_dir_mode,
            pattern: "*.aln"
        ]
        memory = { check_max( 128.GB * task.attempt, 'memory'  ) }
        cpus   = { check_max( 16    * task.attempt, 'cpus'     ) }
        time   = { check_max( 24.h  * task.attempt, 'time'     ) }
    }

    withName: SKA_MERGE {
        publishDir = [
            path: { "${params.outdir}/ska_merge" },
            mode: params.publish_dir_mode,
            pattern: "*.skf"
        ]
    }

    withName: SKA_DISTANCE {
        publishDir = [
            path: { "${params.outdir}/ska_distance" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
    }

    withName: SNPSITES {
        publishDir = [
            path: { "${params.outdir}/snpsites" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
    }

    withName: SNPDISTS {
        publishDir = [
            path: { "${params.outdir}/snpdists" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
    }

    withName: IQTREE {
        publishDir = [
            path: { "${params.outdir}/iqtree" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
        memory = { check_max( 256.GB * task.attempt, 'memory'  ) }
        cpus   = { check_max( 32    * task.attempt, 'cpus'     ) }
        time   = { check_max( 72.h  * task.attempt, 'time'     ) }
    }
    
    withName: RAPIDNJ {
        publishDir = [
            path: { "${params.outdir}/rapidnj" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
        memory = { check_max( 128.GB * task.attempt, 'memory'  ) }
        cpus   = { check_max( 16    * task.attempt, 'cpus'     ) }
        time   = { check_max( 24.h  * task.attempt, 'time'     ) }
    }

    withName: FASTTREE {
        publishDir = [
            path: { "${params.outdir}/fasttree" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
        memory = { check_max( 128.GB * task.attempt, 'memory'  ) }
        cpus   = { check_max( 16    * task.attempt, 'cpus'     ) }
        time   = { check_max( 24.h  * task.attempt, 'time'     ) }
    }

    withName: RAXMLNG {
        publishDir = [
            path: { "${params.outdir}/raxmlng" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
        memory = { check_max( 128.GB * task.attempt, 'memory'  ) }
        cpus   = { check_max( 16    * task.attempt, 'cpus'     ) }
        time   = { check_max( 24.h  * task.attempt, 'time'     ) }
    }

    withName: FASTME {
        publishDir = [
            path: { "${params.outdir}/fastme" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
        memory = { check_max( 128.GB * task.attempt, 'memory'  ) }
        cpus   = { check_max( 16    * task.attempt, 'cpus'     ) }
        time   = { check_max( 24.h  * task.attempt, 'time'     ) }
    }

    withName: RESCALE_TREE {
        publishDir = [
            path: { "${params.outdir}/rescaled_tree" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
    }

}
